.venv/
venv/
env/

__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/

*.log

.DS_Store

.vscode/

.idea/

*.json
*.csv
*.tsv
*.h5
*.pt
*.pth

data/
datasets/
outputs/
checkpoints/

*.ckpt

tmp/
temp/

src/shap-e-zeroshot/shap-e/
cap3d_split.json
